<app-for-logged-players-menu></app-for-logged-players-menu>
<div asp-validation-summary="All"></div>
<div class="form-group">
  <label for="exampleFormControlSelect1">Выберите количество ботов</label>
  <select class="form-control" [(ngModel)]="countOfBots">
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="form-group">
  <label>Username:</label>
  <input [(ngModel)]="playerName" list="players" class="form-control" />
  <datalist id="players">
    <!--[(ngModel)]="players"-->
    <option *ngFor="let player of modelPlayers.players">{{player.userName}}</option>
  </datalist>
</div>
<input type="button" class="btn btn-primary btn-lg btn-block" (click)="start()" value="Start Game">
<div class="form-group">
  <input type="text" class="form-control is-invalid" disabled [hidden]="!validationErrors" [(ngModel)]="validationErrors">
</div>
