<app-for-logged-players-menu></app-for-logged-players-menu>
<div class="p-5 p-5 m-3 m-3 alert alert-secondary d-flex align-items-center flex-column bd-highlight">
  <div>
    <h3>Hello {{playerName}}!</h3>
  </div>
  <div asp-validation-summary="All"></div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Выберите количество ботов</label>
    <select class="form-control" [(ngModel)]="countOfBots">
      <option [ngValue]="1">1</option>
      <option [ngValue]="2">2</option>
      <option [ngValue]="3">3</option>
      <option [ngValue]="4">4</option>
      <option [ngValue]="5">5</option>
    </select>
  </div>
  <input type="button" class="pr-5 pl-5 btn btn-primary btn-lg" (click)="start()" value="Start Game">
</div>
