<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<ul class="nav navbar-nav">
  <li>
    <a [routerLink]="['/Account/Register']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">Register Actions</a>
  </li>
  <li>
    <a [routerLink]="['/Account/Login']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">Login Actions</a>
  </li>
</ul>
<router-outlet></router-outlet>
