<app-for-logged-players-menu></app-for-logged-players-menu>
<h2>Start Game</h2>
<h2>User: {{gameDetails.game.player.userName}}</h2>
<hr />
<div>Balance: <input value={{gameDetails.game.player.balance}} name="PlayerBalance" id="PlayerBalance" class="form-group" disabled /> Bet: <input value={{gameDetails.game.player.bet}} name="PlayerBet" id="PlayerBet" class="form-group" disabled /></div>
<div>Game State: <input value={{GameState[gameDetails.game.gameState]}} name="GameState" id="GameState" class="form-group" disabled /> </div>
<hr />
<div class="form-group" *ngIf="gameDetails.game.wonName!='' && gameDetails.game.wonName!=null">
  <input type="text" class="form-control is-valid" disabled value="{{gameDetails.game.wonName}} WON">
</div>
<table class="table">
  <tr><th></th><th>Bot Name</th><th>Suite</th><th>Rank</th></tr>
  <tr *ngFor="let botStep of gameDetails.botsSteps.botSteps; let i = index">
    <td>{{i}}</td>
    <td>{{botStep.bot.name}}</td>
    <td>{{Suite[botStep.suite]}}</td>
    <td>{{Rank[botStep.rank]}}</td>
  </tr>
</table>
<hr />
<table class="table" id="TablePlayerStepsInGame">
  <tr><th></th><th>Player Name</th><th>Suite</th><th>Rank</th></tr>
  <tr *ngFor="let playerStep of gameDetails.playerSteps.playerSteps; let i = index">
    <td>{{i}}</td>
    <td>{{playerStep.player.userName}}</td>
    <td>{{Suite[playerStep.suite]}}</td>
    <td>{{Rank[playerStep.rank]}}</td>
  </tr>
</table>
<hr />
<div *ngIf="gameDetails.game.player.bet==0 && gameDetails.playerSteps.playerSteps.length<=2">
  <div class="form-group">
    <input value={{gameDetails.game.player.balance}} name="Balance" id="Balance" hidden />
    <!--<label value={{gameDetails.game.player.bet}} name="LabelBet" id="LabelBet"></label><br />-->
    <input [(ngModel)]="bet" name="Bet" id="Bet" />
  </div>
  <div>
    <input id="formPlaceAbet" type="button" value="Bet" class="btn btn-secondary btn-lg" (click)="placeABet()" />
  </div>
</div>
<div class="form-group" *ngIf="gameDetails.game.player.bet!=0 && gameDetails.game.gameState==0">
  <input type="button" class="btn btn-primary btn-lg" name="ButtonHit" id="ButtonHit" value="Hit" (click)="hit()" />
  <input type="button" class="btn btn-secondary btn-lg" name="ButtonStand" id="ButtonStand" value="Stand" (click)="stand()" />
</div>
