<table class="table">
  <tr><th>GameID</th><th>Game State</th><th>Player Id</th><th>User Name</th><th>Balance</th><th>Bet</th></tr>
  <tr *ngFor="let gameItem of gamesHistory.games">
    <td>{{gameItem.id}}</td>
    <td>{{gameItem.gameState}}</td>
    <td>{{gameItem.player.playerId}}</td>
    <td>{{gameItem.player.userName}}</td>
    <td>{{gameItem.player.balance}}</td>
    <td>{{gameItem.player.bet}}</td>
    <td>
      <input type="button" class="btn btn-sm btn-primary" value="Details" (click)="game(gameItem.id)" />
    </td>
  </tr>
</table>
