@model BlackJack.ViewModels.GameViews.GetAllStepsGameView
<table class="table" id="TablePlayerStepsInGame">
    <tr><th>Player Id</th><th>StepId</th><th>Suite</th><th>Rank</th></tr>
    @foreach (var step in Model.PlayerSteps)
    {
    <tr>
        <td>@step.Player.PlayerId</td>
        <td>@step.Id</td>
        <td>@step.Suite</td>
        <td>@step.Rank</td>
    </tr>
    }
</table>
