@model BlackJack.ViewModels.GameViews.GetAllStepOfBotsGameView
<table class="table">
    <tr><th>Step Id</th><th>Bot Id</th><th>Suite</th><th>Rank</th></tr>
    @foreach (var step in Model.BotSteps)
    {
        <tr>
            <td>@step.Id</td>
            <td>@step.Bot.Id</td>
            <td>@step.Suite</td>
            <td>@step.Rank</td>
        </tr>
    }
</table>
